.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #141414;
  color: #d8d8d8;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.divider {
  padding: 15px;
}

.timer-container {
  display: flex;
  flex-direction: row;
  width: 50%;
}